<div class="p-5">
    <h3>Add item to cart successfully.</h3>
    <div class="mb-3">
        <a class="btn btn-primary" href="/rentals/">Add New Rental</a>
        <a class="btn btn-success" href="/cart/">View Cart</a>
    </div>
</div>