<div class="container">
  <h1>Placed Order Details</h1>
  <h2>Order Confirmation</h2>
  <p>Thank you for placing your order with us! An order confirmation email has been sent to the email address provided. If you have any questions or concerns.</p>
</div>