<div class="container mb-5">
    <div style="margin-top:90px; margin-bottom:90px">
        <h1 style="text-align: center;"> Hi welcome To Our Website</h1>
    </div>

    {{#if user }}
        <h4>Hello, {{ user.name }} [{{ user.role }}] </h4>
        <a href="/rentals" class="btn btn-warning">List Rental</a>
    {{ else }}
        <a href="/log-in" class="btn btn-warning">User Login </a>
    {{/if}}
</div>